{% if product.description != blank  %}
{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div id="pdp-desc" class="index-section full-desc-wrap color-scheme-{{ section.settings.color_scheme }} text-{{ section.settings.align_text }}">
  {%- if section.settings.color_scheme != 'none' -%}
    {%- render 'color-scheme-texture', color_scheme: section.settings.color_scheme -%}
  {%- endif -%}
  
   {%- if section.settings.main_heading != 'none' -%}
    <h2 class="">{{ section.settings.main_heading }}</h2>
   {%- endif -%}
  <div class="page-width {% if section.settings.narrow_column %} page-width--narrow{% endif %}">
    <div class="rte">
    {{ product.description }}
  </div>  
  </div>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}
{% endif %}
{% schema %}
{
  "name": "Academy Description",
  "class": "rich-text-section academy-rich-text-wrap",
  "settings": [
    {
      "type": "select",
      "id": "align_text",
      "label": "t:sections.rich-text.settings.align_text.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.align_text.options.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.align_text.options.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.align_text.options.right.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "narrow_column",
      "label": "t:sections.rich-text.settings.narrow_column.label",
      "default": true
    },
    {
      "type": "text",
      "id": "main_heading",
      "label": "Main Title"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.rich-text.settings.color_scheme.label",
      "default": "1",
      "options": [
        {
          "value": "none",
          "label": "t:sections.rich-text.settings.color_scheme.options.none.label"
        },
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.rich-text.settings.divider.label",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Academy Description"
    }
  ]
}
{% endschema %}
