{% if customer %} 
    <div class="mobile_account_wrapper">
      <ul class="AccountDropdown_list">
        <li class="AccountDropdown_item">
        <a href="{{ routes.account_url }}" class="AccountDropdown_label">My Account</a>
        </li>  
        <li class="AccountDropdown_item"> 
        <a href="{{ routes.account_logout_url }}">Log Out</a>
        </li>
      </ul>  
    {% else %}   
      <div class="AccountDropdown_label">Account</div>       
      <ul class="AccountDropdown_list">
        <li class="AccountDropdown_item">
        <a href="{{ routes.account_url }}">Log In</a>
        </li>
        {% if shop.customer_accounts_optional %}    
        <li class="AccountDropdown_item">
        <a href="{{ routes.account_register_url }}">Sign Up</a>
        </li>
      {% endif %}  
      </ul>
    </div>   
{% endif %}   