<div class="karma_pro_pop {% if customer.default_address.country_code == 'IS' and customer.email != 'kamilla@karmapro.is' %}active{% endif %}">
	<div class="karma_pro_wrap">
		<div class="karma_pro_inner">
			<div class="karma_pro_img">
				<img src="{{ settings.popup_logo | img_url : '260x' }}">
			</div>
			<div class="karma_pro_content">
				{{ settings.popup_description }}
			</div>
			<div class="karma_pro_btns">
  				<a href="{{ settings.redirect_link }}" class="btn">{{ settings.redirect_link_text}}</a>
			</div>
		</div>
	</div>
</div>