{% if section.blocks.size > 0 %}
<div class="competitions_main">
  <div class="page-width">
    {% if section.settings.title != blank %}
    <h3>{{ section.settings.title }}</h3>
    {% endif %}
    <ul class="competitions_list">
      {% for block in section.blocks %}
       {% if block.settings.text != blank or block.settings.year_no != blank %}  
         <li class="competitions_item">{{ block.settings.text }}<strong>{{ block.settings.year_no }}</strong></li>
       {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
{% schema %}
  {
    "name": "Judged Competitions",
    "settings": [
      {
        "type":"text",
        "id":"title",
        "label":"Title"
      }
    ],
    "blocks":[
      {
        "type":"text",
        "name":"Text",
        "settings":[
          {
            "id":"year_no",
            "type":"text",
            "label":"Year Text"
          },
          {
            "type":"text",
            "id":"text",
            "label":"Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name":"Judged Competitions"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}