.page-content.page-content--product.single-product-cls {padding: 0;}
.single-product-cls .page-width-single .grid__item {padding: 20px; border: 1px solid #e8e8e1; border-right: 0; border-top: 0; }
.single-product-cls .page-width-single .grid .grid__item:first-child {border-left: 0;border-bottom: 0; }
.single-product-cls .page-width-single .product-grid__container.grid {margin: 0 auto; }
.single-product-cls .page-width-single .grid__item .product__photos {margin: 0;}
.single-product-cls .page-width-single .product-grid__content.product-single__sticky.grid__item {padding: 0; }
.single-product-cls .page-width-single .product-grid__content.product-single__sticky.grid__item .product-single__meta {padding: 0; }
.single-product-cls .page-width-single .product-grid__content.product-single__sticky.grid__item .product-single__meta .product-single__header {margin: 0; padding: 60px 50px 10px;display: flex; align-items: flex-start; justify-content: space-between; }
.single-product-cls .page-width-single .product-single__title {font-style: normal; font-weight: 500; line-height: 36px; color: #000000;width: calc(70% - 0px);margin-bottom: 0; }
.single-product-cls .page-width-single .product_price_wrap {width: calc(30% - 0px); text-align: right; }
.single-product-cls .page-width-single div[data-product-blocks] .product-block {padding: 0 50px; }
.single-product-cls .page-width-single div[data-product-blocks] .product-block .product-block {padding: 0; }
.single-product-cls .page-width-single form button.btn {width: auto; padding: 11px 60px; }
.single-product-cls .page-width-single span.product-single__sku {width: 100%; display: block; font-style: normal; font-weight: 400; font-size: 14px; line-height: 24px; text-align: right; color: #000000; }
.single-product-cls .page-width-single .product_price_wrap span.product__price {font-style: normal; font-weight: 400; font-size: 16px; line-height: 24px; text-align: right; color: #000000; }
.single-product-cls .page-width-single div[data-product-blocks] .product-block.product-block--tab {padding: 0;margin-bottom: 0;margin-top: 0; }
.single-product-cls .page-width-single div[data-product-blocks] .product-block.product-block--tab .collapsibles-wrapper {border-top: 1px solid #e8e8e1;padding-bottom: 1px;}
.single-product-cls .page-width-single div[data-product-blocks] .product-block.product-block--tab .collapsibles-wrapper button {border: 0; padding: 15px 50px;font-size: 16px;display: flex;align-items: center; font-weight: 600;}
.single-product-cls .page-width-single div[data-product-blocks] .product-block.product-block--tab .collapsible-content--all {padding: 0 50px;border: 0; }
.single-product-cls .page-width-single div[data-product-blocks] .product-block.product-block--tab .collapsibles-wrapper button span.collapsible-trigger__icon {position: relative;transform: none;color: #000;}
.single-product-cls .page-width-single div[data-product-blocks] .product-block.product-block--tab .collapsibles-wrapper button span.collapsible-trigger__icon:before {position: absolute;transform: none;top: -7px;content: '+';color: #000;left: 10px;}
.single-product-cls .page-width-single div[data-product-blocks] .product-block.product-block--tab .collapsibles-wrapper button.is-open span:before {content: '-';}
.template-product header#SiteHeader .site-header__element.site-header__element--top{border-bottom: 1px solid #e8e8e1;}
.template-product header#SiteHeader {box-shadow: none;}
/* .single-product-cls .page-width-single .grid__item .product__photos .product-main-slide .image-wrap {padding-bottom: 100% !important;} */
.single-product-cls .page-width-single div[data-product-blocks] .product-block.product-block--tab .collapsibles-wrapper button span.collapsible-trigger__icon svg.icon {display: none;}
.single-product-cls .page-width-single .product-single__meta .jdgm-widget.jdgm-preview-badge span.jdgm-star {color: #000;}

.logo-with-text-cmn-cls .new-grid.product-grid {justify-content: center; }
.logo-with-text-cmn-cls .logo-bar__item img {width: 24px; margin-bottom: 20px; }
.logo-with-text-cmn-cls .logo-bar__item .logo-header {margin: 0; }
.logo-with-text-cmn-cls .logo-bar__item .logo-header .logo-header__title {margin: 0; font-style: normal; font-weight: 500; font-size: 16px; color: #000000; }
.single-product-cls .page-width-single div[data-product-blocks] .product-block.product-block--tab .collapsibles-wrapper .collapsible-content__inner {padding-bottom: 20px; }
.single-product-cls .page-width-single div[data-product-blocks] > .product-block > .rte {max-width: 600px;}

.template-collection .collection-content {margin: 0;border: 0;padding: 0;}
.template-collection .collection-content .grid__item.grid__item--sidebar {padding-top: 40px; }
.template-collection .collection-content .grid__item.grid__item--sidebar .collection-sidebar {padding: 0; margin: 0; }
.collection-filter__inner select{padding: 5px 25px 5px 15px;}
.collection-sidebar form.filter-form .collection-sidebar__group {border-bottom: 1px solid #ddd; }
.collection-sidebar form.filter-form .collection-sidebar__group button.collapsible-trigger { padding:15px 0px 15px 0;outline: 0; box-shadow: none; }
.collection-sidebar form.filter-form .collection-sidebar__group button.collapsible-trigger span {justify-content: space-between; }
.template-collection .collection-content .grid__item.grid__item--content .collection-filter {padding: 35px 0px 0px 0px; border-bottom: 1px solid #ddd; margin-left: 10px; margin-right: 10px;}
.template-collection .collection-content .grid__item.grid__item--content .collection-filter .collection-filter__sort {border-color: #000; }
.collection-content .grid__item--content .collection-grid .grid-item.grid-product .grid-item__meta {text-align: center; }
.collection-content .grid__item--content .collection-grid .grid-item.grid-product .grid-item__content {background: transparent; }
.logo-with-text-cmn-cls .grid-item.grid-product:after {
    background: transparent;
}
.testimonials-section .slideshow-wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}
.testimonials-section .slideshow-wrapper .flickity-viewport .testimonials-slider__text {
    padding: 20px;
    transform: none;
    margin: 0 10px 0;
    border: 1px solid #e8e8e1;
}

.academy_page_main .page-width.feature-row-wrapper {max-width: 100%; padding: 0; }
.academy_page_main .page-width.feature-row-wrapper .feature-row__item {max-width: initial !important; }
.academy_page_main .custome-class-academy {padding: 0 !important; margin: 0; }
.promo-grid .section-header {padding: 0 20px;}

.product-banner-with-text .background-media-text__aligner {margin: 0; padding: 0px; display: block; height: 100%; width: 100%; }
.product-banner-with-text .animation-contents .background-media-text__text {width: 100%; margin: 0 0 0 auto;padding: 40px; }
.product-banner-with-text .animation-contents .product_title_price_wrap {display: flex; align-items: flex-start; justify-content: space-between; }
.product-banner-with-text .animation-contents .product_title_price_wrap p.h3 {width: calc(80% - 0px); font-weight: 500; color: #000000; }
.product-banner-with-text .animation-contents .product_title_price_wrap .product-block--price span {font-style: normal; font-weight: 400; font-size: 16px; line-height: 24px; text-align: right; color: #000000; margin: 0; }
.product-banner-with-text .animation-contents .product_title_price_wrap .product-block--price {width: calc(20% - 0px); margin-bottom: 0; text-align: right; }
.product-banner-with-text .animation-contents .background-media-text__text .accent-subtitle {font-style: normal; font-weight: 400; font-size: 16px; line-height: 24px; color: #000000; letter-spacing: 0; text-transform: capitalize; }
.product-banner-with-text .animation-contents .background-media-text__text .product_cart_btn .product__policies.rte {margin: 0; }
.product-banner-with-text .animation-contents .background-media-text__text .product_cart_btn {margin-bottom: 30px; }
.product-banner-with-text .animation-contents .background-media-text__text .logo_text_block_wrap {display: flex; align-items: center;margin-bottom: 30px; }
.product-banner-with-text .animation-contents .background-media-text__text .logo_text_block_wrap .product_block_text {padding-left: 20px; }
.product-banner-with-text .animation-contents .background-media-text__text .logo_text_block_wrap .product_block_text .logo__title {margin: 0; font-style: normal; font-weight: 500; font-size: 14px; line-height: 14px; color: #000000; }
.product-banner-with-text .animation-contents .background-media-text__text .product_cart_btn button.btn {width: auto; padding: 13px 60px; }
.product-banner-with-text .animation-contents .background-media-text__text .product-list-main .logo_text_block_wrap:last-child {margin-bottom: 0;}
span.disable_price_text {font-style: italic;color: #000; text-decoration: underline;}
.price_tax_wrap {width: 30%;}
.product__main-photos .product-main-slide:not(.is-selected) button {
    display: block;
}
.single-product-cls .page-width-single .product_price_wrap .price_text_wrap span {
    font-size: 12px;
    color: #666;
    vertical-align: top;
}

/* PDP review widget*/
.jdgm-rev__timestamp, .jdgm-rev__location{
  color:#000 !important;
}
div#judgeme_product_reviews .jdgm-form-wrapper, div#judgeme_product_reviews .jdgm-question-form-wrapper {padding: 20px; border-radius: 0; border: 1px solid #ddd!important; max-width: 1380px; margin: 0 auto 30px !important; text-align: left;}
.jdgm-rev-widg__body {margin: 0px 0 0 0 !important; }
.jdgm-question-form-wrapper {margin-bottom: 30px; }
#judgeme_product_reviews{justify-content:center; }
#judgeme_product_reviews .shopify-app-block {width: 100%; }
#judgeme_product_reviews .jdgm-rev-widg__reviews .jdgm-rev {width: calc(33.33% - 20px);padding: 20px;border-radius: 3px;margin: 0 10px 20px;border: 0;}
#judgeme_product_reviews b.jdgm-rev__title {font-size: 16px!important; line-height: 24px; color: #353435; margin: 0 0 5px!important; font-weight: bold; text-transform: initial; }
#judgeme_product_reviews .jdgm-rev-widg__reviews span.jdgm-rev__author {text-align: left; line-height: 1; font-size: 16px; color: #353435; text-transform: initial; margin: 10px 0 10px 0; display: block; font-weight:bold; position: absolute; bottom: 15px; right:20px; }
#judgeme_product_reviews .jdgm-rev-widg__reviews {display: flex; flex-wrap: wrap; }
#judgeme_product_reviews .jdgm-all-reviews-widget, #judgeme_product_reviews .jdgm-rev-widg {padding: 0; border: none; margin-top: 0px; margin-bottom: 0; }
#judgeme_product_reviews .jdgm-rev-widg__title {text-align: center;visibility: unset;margin-bottom: 20px;font-size: 30px;}
#judgeme_product_reviews .review-left-side div {margin: 0 20px; }
#judgeme_product_reviews .review-left-side h3 {margin-bottom: 5px; line-height:1; }
#judgeme_product_reviews .review-left-side {display: flex; justify-content: center; margin-bottom: 25px; }
.review-widget-section {margin: 60px 0 0 0!important; }
.modal--quick-shop span.jdgm-prev-badge__text {visibility: visible; text-transform: capitalize; }
#judgeme_product_reviews .review-top-bar{text-align:center; }
.jdgm-rev__icon {display: none; }
.jdgm-prev-badge__text{font-size:16px; }
.jdgm-rev-widg__summary, .jdgm-widget .jdgm-temp-hidden, .jdgm-sort-dropdown-wrapper {display: none !important; }
:not(.jdgm-prev-badge__stars)>.jdgm-star, .jdgm-preview-badge .jdgm-star.jdgm-star{color:#000 !important; font-size:14px; }
.jdgm-histogram__bar-content{background-color:#e5caac !important; }
.jdgm-widget .jdgm-write-rev-link {display: block !important; }
.jdgm-widget-actions-wrapper a.jdgm-write-rev-link {display: inline-block !important; margin-bottom: 40px; padding: 10px 15px; border-radius: 0px; transition:0.3s all;min-width: 210px; }
.jdgm-widget-actions-wrapper a.jdgm-write-rev-link:hover {background: #e5caac; color: #000; border:1px solid #e5caac; }
div#judgeme_product_reviews .label, label:not(.variant__button-label):not(.text-label){font-weight:normal; }
.jdgm-form-wrapper {margin: 0 10px 30px !important; border: none !important; }
div#judgeme_product_reviews .jdgm-widget-actions-wrapper {float: none; text-align: center;border: 0; }
#judgeme_product_reviews .jdgm-rev-widg .jdgm-subtab {border-bottom: 1px solid #ccc !important; margin-bottom: 20px !important; }
.jdgm-quest-widg__questions .jdgm-quest {border: 1px solid #ccc!important; padding: 15px; margin: 10px; border-radius: 3px; background-color:#fff; }
div#judgeme_product_reviews .jdgm-widget-actions-wrapper a {border-color: #000;text-transform: capitalize;font-weight: 500;line-height: 1.42;text-decoration: none;text-align: center;white-space: normal;font-size: calc(var(--typeBaseSize) + 2px);padding: var(--btnPadding);margin: 0;width: auto;min-width: 90px;vertical-align: middle;cursor: pointer;border: 1px solid transparent;-webkit-user-select: none;user-select: none;-webkit-appearance: none;-moz-appearance: none;border-radius: var(--buttonRadius);color: #fff;color: var(--colorBtnPrimaryText);background: #000000;background: var(--colorBtnPrimary);}
.jdgm-rev-widg.jdgm-rev-widg{width:100%; }
.jdgm-rev-widg__header, .jdgm-subtab {margin: 0 0px !important;text-align: left; }
.jdgm-form-wrapper input {outline: none; }
#judgeme_product_reviews {display: flex; flex-wrap: wrap; max-width: 1400px; width: 100%; margin: 10px auto; }
div#judgeme_product_reviews .jdgm-form-wrapper form.jdgm-form {max-width: 100%; margin-left: 0; padding: 0; }
#judgeme_product_reviews .jdgm-rev-widg__reviews .jdgm-row-profile, #judgeme_product_reviews .jdgm-rev-widg__reviews .jdgm-rev .jdgm-row-extra{display: none; }
div#judgeme_product_reviews .jdgm-row-actions {display: none; }
div#judgeme_product_reviews .jdgm-form-wrapper form.jdgm-form input {border-color: #e4e4e4; }
div#judgeme_product_reviews .jdgm-form-wrapper form.jdgm-form .jdgm-form__fieldset-actions input.jdgm-btn {border-color: #000;text-transform: capitalize;font-weight: 500;line-height: 1.42;text-decoration: none;text-align: center;white-space: normal;font-size: calc(var(--typeBaseSize) + 2px);padding: var(--btnPadding);margin: 0;width: auto;min-width: 90px;vertical-align: middle;cursor: pointer;border: 1px solid transparent;-webkit-user-select: none;user-select: none;-webkit-appearance: none;-moz-appearance: none;border-radius: var(--buttonRadius);color: #fff;color: var(--colorBtnPrimaryText);background: #000000;background: var(--colorBtnPrimary);}
div#judgeme_product_reviews .jdgm-form-wrapper form.jdgm-form .jdgm-form__fieldset-actions a.jdgm-btn {color: #000;border-color: #000;text-transform: capitalize;font-weight: 500;line-height: 1.42;text-decoration: none;text-align: center;white-space: normal;font-size: calc(var(--typeBaseSize) + 2px);padding: var(--btnPadding);margin: 0;width: auto;min-width: 90px;vertical-align: middle;cursor: pointer;-webkit-user-select: none;user-select: none;-webkit-appearance: none;-moz-appearance: none;border-radius: var(--buttonRadius);display: inline-block;margin-right: 5px;}
div#judgeme_product_reviews .jdgm-form-wrapper form.jdgm-form textarea, div#judgeme_product_reviews .jdgm-form-wrapper form.jdgm-form input {border-color: #e4e4e4; }
#judgeme_product_reviews .jdgm-rev-widg__body {margin-top: 10px !important; }
#judgeme_product_reviews .jdgm-rev-widg__body .jdgm-paginate {border: 0;padding: 0;}

/* PDP review widget*/

@media (max-width: 991px){
.page-content.page-content--product.single-product-cls .product-single__header--mobile {display: none; align-items: flex-end; padding: 20px 20px 0; margin: 0; }
.single-product-cls .page-width-single div[data-product-blocks] .product-block {padding: 10px 20px; margin: 0; }
.single-product-cls .page-width-single div[data-product-blocks] .product-block.product-block--tab .collapsible-content--all {padding: 0 20px;}
.single-product-cls .page-width-single div[data-product-blocks] .product-block.product-block--tab .collapsible-content--all .collapsible-content__inner {padding: 0 0 20px; }
.single-product-cls .page-width-single div[data-product-blocks] .product-block.product-block--tab .collapsibles-wrapper button{padding: 15px 20px;}
.rich-text-section .page-width.page-width--narrow {width: 100%; max-width: 600px; }
.single-product-cls .page-width-single .product-grid__content.product-single__sticky.grid__item .product-single__meta {margin-bottom: 0; }
.single-product-cls .page-width-single .product-grid__content.product-single__sticky.grid__item .product-single__meta .product-single__header {padding: 0px 20px 0px;display: flex !important;flex-direction: column;}
.single-product-cls .page-width-single .product-grid__content.product-single__sticky.grid__item .product-single__meta .product-single__header .price_tax_wrap{margin-top: 20px;}
.single-product-cls .page-width-single div[data-product-blocks] .product-block .variant-input-wrap{margin-bottom: 0;}
.single-product-cls .page-width-single .grid .grid__item:first-child, .single-product-cls .page-width-single .grid__item{border: 0;padding-top: 4px;padding-bottom: 0;}
.single-product-cls .page-width-single .product_price_wrap {width: calc(100% + 0px);text-align: left;}
.single-product-cls .page-width-single .product-single__title{width: calc(100% + 0px);}

.single-product-cls .page-width-single .grid .grid__item .product__main-photos .product-slideshow .product-main-slide {border: 0;}

.template-collection .collection-content .grid__item.grid__item--sidebar {padding: 0px 0; }
#CollectionAjaxContent .grid {margin: 0 auto; }
.template-collection .collection-content .grid__item.grid__item--content .collection-filter{padding: 0px 0;}
.template-collection .collection-content .grid__item.grid__item--content{border-left: 0px solid #ddd;width: 100%;}
.collection-content .grid__item--content .collection-grid {padding: 30px 0; }
.template-collection .collection-content .grid__item.grid__item--content .collection-filter .collection-filter__inner:after{display: none;}
.template-collection .collection-content .grid__item.grid__item--content .collection-filter .collection-filter__inner {padding: 0;margin-bottom: 0; }
.testimonials-section .slideshow-wrapper .flickity-viewport .testimonials-slider__text{margin: 0 0px;}
.single-product-cls .page-width-single div[data-product-blocks]>.product-block>.rte {max-width: 100%;}
.academy_page_main .page-width.feature-row-wrapper .feature-row__item.feature-row__text {padding: 30px 20px;}
.product-banner-with-text .background-media-text__aligner{padding: 0;}
.product-banner-with-text .animation-contents .background-media-text__text{max-width: 100%; border-bottom: 1px solid #ddd;text-align: left;padding: 20px;}
#judgeme_product_reviews .jdgm-rev-widg__reviews .jdgm-rev {width: calc(50% - 20px);}
}
@media (max-width: 768px){
.single-product-cls .page-width-single .grid__item .product__main-photos{margin-bottom: 0;}
}
@media (max-width: 767px){
.logo-with-text-cmn-cls .new-grid.product-grid .logo-bar__item {padding: 10px;}
.single-product-cls .page-width-single .product-single__title{line-height: 26px;}
#judgeme_product_reviews .jdgm-rev-widg__reviews .jdgm-rev{width: calc(100% - 0px);margin: 0 0px 20px; padding:5px;}
div#judgeme_product_reviews .jdgm-form-wrapper form.jdgm-form .jdgm-form__fieldset-actions a.jdgm-btn, div#judgeme_product_reviews .jdgm-form-wrapper form.jdgm-form .jdgm-form__fieldset-actions input.jdgm-btn{margin: 0 0 10px;}
#judgeme_product_reviews .jdgm-rev-widg__title{font-size: 26px;}
.price_tax_wrap{width: 100%;}  
}

.academy-promo-grid .promo-grid {padding: 0; }
.academy-promo-grid .promo-grid .flex-grid {margin: 0 auto; padding: 0; }
.academy-promo-grid .promo-grid .flex-grid .flex-grid__item {padding: 0; flex: 1; }


/*.sidebar-open:before {content: ''; position: absolute; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.3); }*/
.sidebar-inner-content {max-width: 600px; margin-right: 0; margin-left: auto; background: #fff; position: absolute; top: 0; right: -100%; width: 100%; height: 100%; padding: 50px 20px; overflow: auto; z-index: 9; transition: .5s all; }
.sidebar-kit .sidebar-btn-kit,
.sidebar .sidebar-btn, .sidebar-book .book-now-btn{position: absolute;top: 0;right: 0;color: #fff;font-size: 22px;z-index: 99;cursor: pointer;width: 40px;height: 40px;text-align: center;background: #000;display: block;}

.sidebar-inner-content ul {margin: 0; padding: 0; list-style: none; }

.sidebar-inner-content::-webkit-scrollbar {width: 10px; background-color: #000; border-radius: 10px; }
.sidebar-inner-content::-webkit-scrollbar-track {background-color: #d1d1d1; }
.sidebar-inner-content::-webkit-scrollbar-thumb {background-color: #000; border-radius: 10px; }
.sidebar-inner-content .faq_righttbar .sidebar-faq .index-section {padding-top: 0;}

.sidebar-kit,
.sidebar, .sidebar-book{position: fixed; right: 0; top: 0; width: 100%; height: 100%; z-index: 9; opacity: 0; visibility: hidden; transition: .5s all; }

.sidebar-kit.sidebar-open,
.sidebar.sidebar-open, .sidebar-book.sidebar-open {opacity: 1; visibility: visible; }

.sidebar-kit.sidebar-open .sidebar-inner-content,
.sidebar.sidebar-open .sidebar-inner-content, .sidebar-book.sidebar-open .sidebar-inner-content{right: 0; }

.sidebar .sidebar-overlay,
.sidebar-kit .sidebar-overlay, .sidebar-book .sidebar-overlay{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgb(0 0 0 / 78%); z-index: 8; transition: .5s all; opacity: 0; visibility: hidden; }

.sidebar.sidebar-open .sidebar-overlay,
.sidebar-kit.sidebar-open .sidebar-overlay, .sidebar-book.sidebar-open .sidebar-overlay{visibility: visible; opacity: 1; }

.kit-block {align-items: flex-start; display: flex; left: 0; top: 0;margin-bottom: 20px;padding-bottom: 20px;border-bottom: 1px solid #eee; }
.kit-block img.kit-block-image, .kit-block .left-date{height: 232px; mix-blend-mode: multiply; width: 200px; border: 1px solid #eee;object-fit: cover; }
.kit-block .kit-info {align-items: flex-start; display: flex; flex-direction: column; margin-left: 24px; min-height: 164px; width: 418px; }
.kit-block .kit-info .kit-title {font-style: normal; font-weight: 700; font-size: 24px;line-height: 1.3;margin-bottom: 10px; }
.kit-block .kit-info .kit-size {font-style: normal; font-weight: 700; font-size: 18px; margin-bottom: 10px; }
.kit-block .kit-info p.kit-text {font-style: normal; font-weight: 400; font-size: 12px;margin-bottom: 5px; }
.kits-list-wrapper .kit-block:last-child {margin-bottom: 0;padding-bottom: 0;border: 0;}
span.kit-remark {font-weight: 400; font-size: 14px;}
html {scroll-behavior: smooth;}

.sidebar-book .left-date {background: #eee; display: flex; flex-direction: column; align-items: center; justify-content: center; height: auto; padding: 30px; }
.sidebar-book .left-date .number {margin: 0; font-weight: bold; font-size: 50px; }
.sidebar-book .left-date small, .sidebar-book .left-date span {font-size: 13px; line-height: 1.3; margin: 5px 0 0; letter-spacing: 0; }
.sidebar-book .left-date img {margin: 10px 0 0; width: 35px; border: 5px solid #fff; }
.sidebar-book .kit-info .kit-title {margin-bottom: 0; font-size: 20px;text-transform: uppercase; }
.sidebar-book .kit-info .kit-size {font-weight: 500; font-size: 18px; margin-bottom: 0; }
.sidebar-book .kit-info .book-btn {margin-top: 20px;}
.sidebar-book .kit-block {align-items: center;}

.sidebar-faq button svg.icon {display: none;}
.sidebar-faq button span.collapsible-trigger__icon:before, .sidebar-faq button span.collapsible-trigger__icon:after{content: ""; position: absolute; left: 0; right: 0px; top: 0; bottom: 0; margin: auto; border-radius: 5px; background: #000; transition: .5s all;}
.sidebar-faq button span.collapsible-trigger__icon:before {width: 14px; height: 2px; }
.sidebar-faq button span.collapsible-trigger__icon:after {width: 2px; height: 14px; }
.sidebar-faq button.is-open .collapsible-trigger__icon:after {opacity: 0; }

.sidebar-faq button span.collapsible-trigger__icon:after {right: -2px; }

form.faq_searchbar_form .input_group ul.dropdown-menu {
    margin: 0px 0 0;
}
form.faq_searchbar_form .input_group ul.dropdown-menu li {
    margin-bottom: 0px;
}
form.faq_searchbar_form .input_group ul.dropdown-menu li a {
    width: 100%;
    display: block;
    padding: 15px;
    background: #00000007;
    border-bottom: 1px solid #eee;-webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s;
}
form.faq_searchbar_form .input_group ul.dropdown-menu li a:hover{
    background: #000;
    color: #fff;-webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s;
}
form.faq_searchbar_form .input_group ul.dropdown-menu li:last-child a {
    border: 0;
}

/*.product-banner-with-text .background-media-text__inner.two-fifths {
    position: sticky;
    top: 0;
    right: 0;
    max-height: 700px;
    padding: 60px 0;
}
*/

@media (max-width: 991px){
.sidebar-faq button span.collapsible-trigger__icon:after {right: -3px; }
  .academy-promo-grid .promo-grid .flex-grid .flex-grid__item{flex: inherit;height: 500px;}

}

@media (max-width: 767px){
.sidebar-inner-content{padding: 30px 20px;}
/*.kit-block{flex-direction: column;}*/
.kit-block .kit-info{margin-left: 0; margin-top: 20px; min-height: initial; width: 100%;}
.sidebar-kit .sidebar-btn-kit, .sidebar .sidebar-btn.close-btn, .sidebar-book .book-now-btn{width: 30px; height: 30px;font-size: 18px;}
.sidebar-book .kit-block {align-items: flex-start;}

.sidebar-book .left-date{padding: 10px; width: 40%;}
.kit-block .kit-info{width: 60%;margin-top: 0;padding-left: 20px;}
.sidebar-book .left-date .number{font-size: 40px;}
.sidebar-book .kit-info .kit-title{font-size: 16px;}
.sidebar-book .kit-info .book-btn a.btn {width: auto;min-width: auto;}
.kit-block img.kit-block-image{width: 40%;height: auto;}
.kit-block .kit-info .kit-title{font-size: 18px;margin-bottom: 5px;}
.kit-block .kit-info .kit-size{font-size: 16px; margin-bottom: 5px;}
}

/*******Carrer page css start**********/
.three-inner-box {margin: 0;padding: 20px;border: 1px solid #000;}
.three-detail-box-main {padding: 50px 0;}
.three-detail-box-main .flex-grid__item {padding: 20px;}

.shopify-section.lash-carees {background: #fff;}
.shopify-section.lash-carees form .form-all {padding: 20px; transform: none; margin: 0 auto; border: 1px solid #e8e8e1;border-radius: 0; }
.shopify-section.lash-carees form .form-all ul.form-section {padding: 10px 0; }
.shopify-section.lash-carees form .form-all ul.form-section .form-header-group.header-large {margin: 0 auto; padding: 0 0 0px; border: 0; }
.shopify-section.lash-carees form .form-all ul.form-section li.form-line {margin: 0 auto 20px; padding: 0; }
.shopify-section.lash-carees form .form-all ul.form-section li.form-line label.form-label {color: #000; margin: 0; }
.shopify-section.lash-carees form .form-all ul.form-section li.form-line input, .shopify-section.lash-carees form .form-all ul.form-section li.form-line select, .shopify-section.lash-carees form .form-all ul.form-section li.form-line textarea {width: 100%; border: 1px solid; border-color: #000; border-color: var(--colorBorder); max-width: 100%; padding: 8px 10px; border-radius: 0 !important; box-shadow: none; outline: 0; height: auto; }
.shopify-section.lash-carees form .form-all ul.form-section li.form-line .form-input-wide {width: 100%; }
.shopify-section.lash-carees form .form-all ul.form-section .form-header-group.header-large .header-text {text-align: center; }
.shopify-section.lash-carees form .form-all ul.form-section .form-buttons-wrapper {margin: 20px auto 0; padding: 0; border: 0; }
.shopify-section.lash-carees form .form-all ul.form-section li.form-line[data-type="control_button"] {margin-bottom: 0; }
.shopify-section.lash-carees form .form-all ul.form-section .form-buttons-wrapper button {line-height: 1.42; text-decoration: none; text-align: center; white-space: normal; font-size: calc(var(--typeBaseSize) + 2px); display: inline-block; padding: var(--btnPadding); margin: 0; width: auto; min-width: 160px; vertical-align: middle; cursor: pointer; border: 1px solid transparent; -webkit-user-select: none; user-select: none; -webkit-appearance: none; -moz-appearance: none; border-radius: var(--buttonRadius); color: #fff; color: var(--colorBtnPrimaryText); background: #000000; background: var(--colorBtnPrimary); }



/*******Carrer page css start**********/